<link rel="stylesheet" href="../styles/Auth_chat.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
<div class="chat-container" ng-controller="MessageCtrl">
    <div class="row no-gutters">
        <div class="col-md-3 border-right">
            <div class="friend-drawer friend-drawer--onhover" ng-click="set(friend.ID)" ng-repeat="friend in friends">
                <img class="profile-image" src={{friend.profilepic}} alt="">
                <div class="text">
                    <h4>{{friend.username}}</h4>
                </div>
                <span class="time text-muted small">13:21</span>
            </div>
        </div>
        <div class="col-md-9">
            <div class="chat-panel">
                <div class="messagePane">
                    <div class="row no-gutters" ng-repeat="message in messages">
                        <div ng-class="(userId == message.user_from) ? 'offset-md-9' : 'col-md-3'">
                            <div ng-class="(userId == message.user_from) ? 'chat-bubble chat-bubble--right': 'chat-bubble chat-bubble--left'">
                                {{message.message}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row type">
                    <div class="col-12">
                        <form class="chat-box-tray" ng-submit="sendMessage()">
                            <input type="text" placeholder="Type your message here..." class="message" ng-model="message">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>